// Name:            Float
// Description:     Atomic float classes
//
// Namespace:       `clearfix`
//                  `clearfix-*`
//                  `nbfc`
//                  `nbfc-alt`
//                  `float-*`
//
// Dependencies:    vars-base
//                  tool-responsive
//
// Based on:
//
// https://github.com/uikit/uikit/blob/v2.17.0/src/less/core/utility.less
// https://github.com/suitcss/utils-layout/blob/0.4.2/lib/layout.css
//
// ========================================================================


// Variables
// ========================================================================

@float-ns:                                      @ns;

@float-enable-clearing:                         false;

// breakpoint list
@float-floats-breakpoints:                      false;


// ========================================================================
// Util: Float
// ========================================================================

// Clearing
// ========================================================================

& when (@float-enable-clearing = true) {

    // Contain floats
    //
    // Original clearfix from @thierrykoblentz
    // http://cssmojo.com/the-very-latest-clearfix-reloaded/

    .@{float-ns}clearfix::after {                
        clear: both;
        content: "";
        display: block;
    }

    // Micro clearfix for children elements

    .@{list-ns}clearfix-children > *::after {
        clear: both;
        content: "";
        display: block;
    }

    // New block formatting context
    //
    // This affords some useful properties to the element. It won't wrap under
    // floats. Will also contain any floated children.
    // N.B. This will clip overflow. Use the alternative method below if this is
    // problematic.

    .@{float-ns}nbfc { overflow: hidden; }

    // New block formatting context (alternative)
    //
    // Alternative method when overflow must not be clipped.
    //
    // 1. Create a new block formatting context (NBFC).
    // 2. Avoid shrink-wrap behaviour of table-cell.
    //
    // N.B. This breaks down in some browsers when elements within this element
    // exceed its width.

    .@{float-ns}nbfc-alt {
        // 1
        display: table-cell;
        // 2
        width: 10000px;
    }
}


// Alignment of block elements
// ========================================================================

.mixin(float-rulesets) {

    .@{float-ns}float-start@{breakpoint} { float: @start; }
    .@{float-ns}float-end@{breakpoint} { float: @end; }    
}

& when not (@float-floats-breakpoints = false) {

    // Float blocks
    // 1. Prevent content overflow on small devices

    // 1
    [class^='@{float-ns}float-'],
    [class*=' @{float-ns}float-'] { max-width: 100%; }

    .render-responsive-rulesets(@float-floats-breakpoints; float-rulesets);
}


// Hooks
// ========================================================================

& { .hook-util-float; }

.hook-util-float() {}