// Name:            Position
// Description:     Atomic position classes
//
// Namespace:       `position-*`
//                  `z-*`
//
// Dependencies:    vars-base
//
// Based on:
//
// https://github.com/uikit/uikit/blob/v2.17.0/src/less/core/utility.less
// https://github.com/suitcss/utils-position/blob/0.2.2/lib/position.css
// https://github.com/jxnblk/basscss/blob/v5.2.1/scss/_positions.scss
// https://css-tricks.com/centering-css-complete-guide/
//
// ========================================================================


// Variables
// ========================================================================

@position-ns:                                 @ns;

@position-positioning-breakpoints:            false;

@position-z-breakpoints:                      false;


// ========================================================================
// Util: Position
// ========================================================================

.mixin(position-positioning) {    

    .@{position-ns}position-absolute@{breakpoint} {
        position: absolute;
    }

    .@{position-ns}position-top@{breakpoint} {
        top: 0;
    }

    .@{position-ns}position-bottom@{breakpoint} {
        bottom: 0;
    }

    .@{position-ns}position-top-start@{breakpoint} {
        top: 0;
        @{start}: 0;
    }

    .@{position-ns}position-top-end@{breakpoint} {
        top: 0;
        @{end}: 0;
    }

    .@{position-ns}position-top-left@{breakpoint} {
        top: 0;
        left: 0;
    }

    .@{position-ns}position-top-right@{breakpoint} {
        top: 0;
        right: 0;
    }

    .@{position-ns}position-bottom-start@{breakpoint} {
        bottom: 0;
        @{start}: 0;
    }

    .@{position-ns}position-bottom-end@{breakpoint} {
        bottom: 0;
        @{end}: 0;
    }

    .@{position-ns}position-bottom-left@{breakpoint} {
        bottom: 0;
        left: 0;
    }

    .@{position-ns}position-bottom-right@{breakpoint} {
        bottom: 0;
        right: 0;
    }

    // Center

    .@{position-ns}position-center@{breakpoint} {
        position: absolute;
        top: 50%;
        @{start}: 50%;
        transform: translate(-50%, -50%);
    }

    // Cover

    .@{position-ns}position-cover@{breakpoint} {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    // Relative
     
    .@{position-ns}position-relative@{breakpoint} { position: relative; }

    // Static

    .@{position-ns}position-static@{breakpoint} { position: static; }

    // Fixed
    //
    // 1. Make sure fixed elements are promoted into a new layer, for performance
    //    reasons.

    .@{position-ns}position-fixed@{breakpoint} {
        position: fixed;
        // 1
        backface-visibility: hidden;
    }      
}

& when not (@position-positioning-breakpoints = false) {

    .render-responsive-rulesets(@position-positioning-breakpoints; position-positioning);
}


// z-index
// ========================================================================

.mixin(position-z) {

    .@{position-ns}z-1@{breakpoint} { z-index: @base-z-1; }
    .@{position-ns}z-2@{breakpoint} { z-index: @base-z-2; }
    .@{position-ns}z-3@{breakpoint} { z-index: @base-z-3; }
    .@{position-ns}z-4@{breakpoint} { z-index: @base-z-4; }
    .@{position-ns}z-5@{breakpoint} { z-index: @base-z-5; }
    .@{position-ns}z-6@{breakpoint} { z-index: @base-z-6; }
    .@{position-ns}z-7@{breakpoint} { z-index: @base-z-7; }
    .@{position-ns}z-8@{breakpoint} { z-index: @base-z-8; }
    .@{position-ns}z-9@{breakpoint} { z-index: @base-z-9; }
}

& when not (@position-z-breakpoints = false) {

    .render-responsive-rulesets(@position-z-breakpoints; position-z);
}


// Hooks
// ========================================================================

& { .hook-util-position; }

.hook-util-position() {}