// Name:            Overflow
// Description:     Atomic overflow classes
//
// Namespace:       `scrollable-*`
//                  `overflow-*`
//
// Dependencies:    vars-base
//
// Based on:
//
// https://github.com/uikit/uikit/blob/v2.17.0/src/less/core/utility.less
// https://github.com/jxnblk/basscss/blob/v5.2.1/scss/_utility-layout.scss
//
// ========================================================================


// Variables
// ========================================================================

@overflow-ns:                                 @ns;

@overflow-enable-scrollable:                  false;
@overflow-enable-overflow:                    false;


// ========================================================================
// Util: Overflow
// ========================================================================

// Scrollable
// ========================================================================

& when (@overflow-enable-scrollable = true) {

    // Horizontal scrolling
    // Inspired on Medium

    .@{overflow-ns}scrollable-x {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;        
        // Inertia scrolling
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;        
    }

    // Enable scrolling for preformatted text

    .@{overflow-ns}scrollable-text {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        resize: both;
    }

    // Box with scrolling enabled

    .@{overflow-ns}scrollable-box {
        box-sizing: border-box;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        resize: both;
    }

    .@{overflow-ns}scrollable-box > :last-child { margin-bottom: 0; }
}


// Overflow
// ========================================================================

& when (@overflow-enable-overflow = true) {

    // Enable scrollbars if content is clipped

    .@{overflow-ns}overflow-container {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .@{overflow-ns}overflow-container > :last-child { margin-bottom: 0; }

    .@{overflow-ns}overflow-hidden { overflow: hidden }
    .@{overflow-ns}overflow-scroll { overflow: scroll }
    .@{overflow-ns}overflow-auto   { overflow: auto }
}


// Hooks
// ========================================================================

.hook-util-overflow;

.hook-util-overflow() {}