// Name:            Position
// Description:     Atomic position classes
//
// Namespace:       `position-*`
//                  `z-*`
//
// Dependencies:    vars-base
//
// Based on:
//
// https://github.com/uikit/uikit/blob/v2.17.0/src/less/core/utility.less
// https://github.com/suitcss/utils-position/blob/0.2.2/lib/position.css
// https://github.com/jxnblk/basscss/blob/v5.2.1/scss/_positions.scss
// https://css-tricks.com/centering-css-complete-guide/
//
// ========================================================================


// Variables
// ========================================================================

@position-ns:                                 @ns;

@position-enable-positioning:                 false;
@position-enable-z:                           false;


// ========================================================================
// Util: Position
// ========================================================================

& when (@position-enable-positioning = true) {

    .@{position-ns}position-absolute,
    [class^='@{position-ns}position-top'],
    [class*=' @{position-ns}position-top'],
    [class^='@{position-ns}position-bottom'],
    [class*=' @{position-ns}position-bottom'] { position: absolute; }

    .@{position-ns}position-top {
        top: 0;
    }

    .@{position-ns}position-bottom {
        bottom: 0;
    }

    .@{position-ns}position-top-start {
        top: 0;
        @{start}: 0;
    }

    .@{position-ns}position-top-end {
        top: 0;
        @{end}: 0;
    }

    .@{position-ns}position-top-left {
        top: 0;
        left: 0;
    }

    .@{position-ns}position-top-right {
        top: 0;
        right: 0;
    }

    .@{position-ns}position-bottom-start {
        bottom: 0;
        @{start}: 0;
    }

    .@{position-ns}position-bottom-end {
        bottom: 0;
        @{end}: 0;
    }

    .@{position-ns}position-bottom-left {
        bottom: 0;
        left: 0;
    }

    .@{position-ns}position-bottom-right {
        bottom: 0;
        right: 0;
    }

    // Cover

    .@{position-ns}position-cover {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    // Relative
     
    .@{position-ns}position-relative { position: relative; }

    // Static

    .@{position-ns}position-static { position: static; }

    // Fixed
    //
    // 1. Make sure fixed elements are promoted into a new layer, for performance
    //    reasons.

    .@{position-ns}position-fixed {
        position: fixed;
        // 1
        backface-visibility: hidden;
    }
}


// z-index
// ========================================================================

& when (@position-enable-z = true) {

    .@{position-ns}z-1 { z-index: @base-z-1; }
    .@{position-ns}z-2 { z-index: @base-z-2; }
    .@{position-ns}z-3 { z-index: @base-z-3; }
    .@{position-ns}z-4 { z-index: @base-z-4; }
    .@{position-ns}z-5 { z-index: @base-z-5; }
    .@{position-ns}z-6 { z-index: @base-z-6; }
    .@{position-ns}z-7 { z-index: @base-z-7; }
    .@{position-ns}z-8 { z-index: @base-z-8; }
    .@{position-ns}z-9 { z-index: @base-z-9; }
}


// Hooks
// ========================================================================

.hook-util-position;

.hook-util-position() {}