// Name:            Offset
// Description:     Collection of horizontal offset utility classes
//
// Namespace:       `offset-*`
//                  `push-*`
//                  `pull-*`
//
// Dependencies:    vars-base
//
// Based on:
//
// https://github.com/uikit/uikit/blob/v2.17.0/src/less/core/utility.less
// http://getbootstrap.com/css/#grid-offsetting
//
// ========================================================================


// Variables
// ========================================================================

@offset-ns:                                     @ns;

// Ratios

// breakpoint list
@offset-ratios-breakpoints:                     false;

// unit list
@offset-ratios-base:                            false;

@offset-ratios-base-push:                       @offset-ratios-base;
@offset-ratios-base-pull:                       @offset-ratios-base;
@offset-ratios-base-offset:                     @offset-ratios-base;

@offset-ratios-small:                           @offset-ratios-base;

@offset-ratios-small-push:                      @offset-ratios-small;
@offset-ratios-small-pull:                      @offset-ratios-small;
@offset-ratios-small-offset:                    @offset-ratios-small;

@offset-ratios-medium:                          @offset-ratios-base;

@offset-ratios-medium-push:                     @offset-ratios-medium;
@offset-ratios-medium-pull:                     @offset-ratios-medium;
@offset-ratios-medium-offset:                   @offset-ratios-medium;

@offset-ratios-large:                           @offset-ratios-base;

@offset-ratios-large-push:                      @offset-ratios-large;
@offset-ratios-large-pull:                      @offset-ratios-large;
@offset-ratios-large-offset:                    @offset-ratios-large;

@offset-ratios-xlarge:                          @offset-ratios-base;

@offset-ratios-xlarge-push:                     @offset-ratios-xlarge;
@offset-ratios-xlarge-pull:                     @offset-ratios-xlarge;
@offset-ratios-xlarge-offset:                   @offset-ratios-xlarge;


// ========================================================================
// Util: Offset
// ========================================================================

// Proportional offsets
// Supported ratios: 2, 3, 4, 5, 6, 8, 10, 12
//
// Objects: `push-*`, `pull-*`, `offset-*`
// =========================================================================

// Halves
.offset-rulesets(@offset-ratio) when (@offset-ratio = 2) {    
    .@{offset-ns}@{offset-type}-1-2@{breakpoint},
    .@{offset-ns}@{offset-type}-2-4@{breakpoint},
    .@{offset-ns}@{offset-type}-3-6@{breakpoint},
    .@{offset-ns}@{offset-type}-4-8@{breakpoint},
    .@{offset-ns}@{offset-type}-5-10@{breakpoint},
    .@{offset-ns}@{offset-type}-6-12@{breakpoint} { @{offset-property}: percentage(1/2)*@offset-sign; }
}

// Thirds
.offset-rulesets(@offset-ratio) when (@offset-ratio = 3) {    
    .@{offset-ns}@{offset-type}-1-3@{breakpoint},
    .@{offset-ns}@{offset-type}-2-6@{breakpoint},
    .@{offset-ns}@{offset-type}-4-12@{breakpoint} { @{offset-property}: percentage(1/3)*@offset-sign; }
    .@{offset-ns}@{offset-type}-2-3@{breakpoint},
    .@{offset-ns}@{offset-type}-4-6@{breakpoint},
    .@{offset-ns}@{offset-type}-8-12@{breakpoint} { @{offset-property}: percentage(2/3)*@offset-sign; }
}

// Quarters
.offset-rulesets(@offset-ratio) when (@offset-ratio = 4) {    
    .@{offset-ns}@{offset-type}-1-4@{breakpoint},
    .@{offset-ns}@{offset-type}-2-8@{breakpoint},
    .@{offset-ns}@{offset-type}-3-12@{breakpoint} { @{offset-property}: percentage(1/4)*@offset-sign; }
    .@{offset-ns}@{offset-type}-3-4@{breakpoint},
    .@{offset-ns}@{offset-type}-6-8@{breakpoint},
    .@{offset-ns}@{offset-type}-9-12@{breakpoint} { @{offset-property}: percentage(3/4)*@offset-sign; }
}

// Fifths
.offset-rulesets(@offset-ratio) when (@offset-ratio = 5) {    
    .@{offset-ns}@{offset-type}-1-5@{breakpoint},
    .@{offset-ns}@{offset-type}-2-10@{breakpoint} { @{offset-property}: percentage(1/5)*@offset-sign; }
    .@{offset-ns}@{offset-type}-2-5@{breakpoint},
    .@{offset-ns}@{offset-type}-4-10@{breakpoint} { @{offset-property}: percentage(2/5)*@offset-sign; }
    .@{offset-ns}@{offset-type}-3-5@{breakpoint},
    .@{offset-ns}@{offset-type}-6-10@{breakpoint} { @{offset-property}: percentage(3/5)*@offset-sign; }
    .@{offset-ns}@{offset-type}-4-5@{breakpoint},
    .@{offset-ns}@{offset-type}-8-10@{breakpoint} { @{offset-property}: percentage(4/5)*@offset-sign; }
}

// Sixths
.offset-rulesets(@offset-ratio) when (@offset-ratio = 6) {    
    .@{offset-ns}@{offset-type}-1-6@{breakpoint},
    .@{offset-ns}@{offset-type}-2-12@{breakpoint} { @{offset-property}: percentage(1/6)*@offset-sign; }
    .@{offset-ns}@{offset-type}-5-6@{breakpoint},
    .@{offset-ns}@{offset-type}-10-12@{breakpoint} { @{offset-property}: percentage(5/6)*@offset-sign; }
}
  
// Eighths
.offset-rulesets(@offset-ratio) when (@offset-ratio = 8) {    
    .@{offset-ns}@{offset-type}-1-8@{breakpoint} { @{offset-property}: percentage(1/8)*@offset-sign; }
    .@{offset-ns}@{offset-type}-3-8@{breakpoint} { @{offset-property}: percentage(3/8)*@offset-sign; }
    .@{offset-ns}@{offset-type}-5-8@{breakpoint} { @{offset-property}: percentage(5/8)*@offset-sign; }
    .@{offset-ns}@{offset-type}-7-8@{breakpoint} { @{offset-property}: percentage(7/8)*@offset-sign; }
}
  
// Tenths
.offset-rulesets(@offset-ratio) when (@offset-ratio = 10) {    
    .@{offset-ns}@{offset-type}-1-10@{breakpoint} { @{offset-property}: percentage(1/10)*@offset-sign; }
    .@{offset-ns}@{offset-type}-3-10@{breakpoint} { @{offset-property}: percentage(3/10)*@offset-sign; }
    .@{offset-ns}@{offset-type}-7-10@{breakpoint} { @{offset-property}: percentage(7/10)*@offset-sign; }
    .@{offset-ns}@{offset-type}-9-10@{breakpoint} { @{offset-property}: percentage(9/10)*@offset-sign; }
}
 
// Twelfths
.offset-rulesets(@offset-ratio) when (@offset-ratio = 12) {    
    .@{offset-ns}@{offset-type}-1-12@{breakpoint} { @{offset-property}: percentage(1/12)*@offset-sign; }
    .@{offset-ns}@{offset-type}-5-12@{breakpoint} { @{offset-property}: percentage(5/12)*@offset-sign; }
    .@{offset-ns}@{offset-type}-7-12@{breakpoint} { @{offset-property}: percentage(7/12)*@offset-sign; }
    .@{offset-ns}@{offset-type}-11-12@{breakpoint} { @{offset-property}: percentage(11/12)*@offset-sign; }
}


.render-offset-classes(@offset-type; @offset-ratios; @breakpoint) when not (@offset-ratios = false) {
  
    // Set property name

    .set-property(@offset-type) when (@offset-type = push), (@offset-type = pull) {
        @offset-property: ~"@{start}";
    }
    .set-property(@offset-type) when (@offset-type = offset) {
        @offset-property: ~"margin-@{start}";
    } 
  
    .set-property(@offset-type);
  
    // Set value sign

    .set-sign(@offset-type) when (@offset-type = push), (@offset-type = offset) {
        @offset-sign: 1;
    }
    .set-sign(@offset-type) when (@offset-type = pull) {
        @offset-sign: -1;
    } 
  
    .set-sign(@offset-type);  
  
    // Loop through the available offset ratios
  
    .loop-offset-classes(@i: length(@offset-ratios)) when (@i > 0) {

        .loop-offset-classes(@i - 1);

        @offset-ratio: extract(@offset-ratios, @i);
      
        .offset-rulesets(@offset-ratio);
    }
  
    .loop-offset-classes();
} 

.mixin(offset-rulesets) {

    @offset-ratios-push: "offset-ratios-@{breakpoint-name}-push";
    @offset-ratios-pull: "offset-ratios-@{breakpoint-name}-pull";
    @offset-ratios-offset: "offset-ratios-@{breakpoint-name}-offset";

    // Source ordering

    .render-offset-classes(push; @@offset-ratios-push; @breakpoint);
    .render-offset-classes(pull; @@offset-ratios-pull; @breakpoint);

    // Offsetting

    .render-offset-classes(offset; @@offset-ratios-offset; @breakpoint);
}

& when not (@offset-ratios-breakpoints = false) {    

    [class^="@{offset-ns}push-"],
    [class*=" @{offset-ns}push-"],
    [class^="@{offset-ns}pull-"],
    [class*=" @{offset-ns}pull-"] { position: relative; }

    .render-responsive-rulesets(@offset-ratios-breakpoints; offset-rulesets);
}


// Hooks
// ========================================================================

.hook-util-offset;

.hook-util-offset() {}