// Name:            Table
// Description:     Defines styles for tables
//
// Namespace:       `table`
//
// Sub-objects:     `table__item` (implied)
//
// Modifiers:       `table--hover`
//                  `table--striped`
//                  `table--sm`
//                  `table__item--middle`
//
// Dependencies:    vars-base
//
// Based on:
//
// https://github.com/uikit/uikit/blob/v2.17.0/src/less/core/table.less
// https://github.com/jxnblk/basscss/blob/v5.2.1/scss/_base-tables.scss
// https://github.com/inuitcss/objects.tables/blob/0.2.1/_objects.tables.scss
//
// ========================================================================


// Variables
// ========================================================================

@table-ns:                                      @ns;

@table-enable-modifier-border:                  false;
@table-enable-modifier-row:                     false;
@table-enable-modifier-cell:                    false;

@table-th-font-weight:                          @base-bold-font-weight;

@table-border-width:                            @base-border-width;
@table-border-style:                            solid;
@table-border-color:                            @base-color-border;

@table-margin-vertical:                         15/@px;
@table-padding-vertical:                        8/@px;
@table-padding-horizontal:                      8/@px;

@table-caption-color:                           @base-color-text-muted;
@table-caption-font-size:                       12/@px;

@table-striped-background:                      @base-color-background-light;

@table-padding-small-vertical:                  4/@px;
@table-padding-small-horizontal:                8/@px;

@table-hover-background:                        @base-color-background-light-hover;


// ========================================================================
// Component: Table
// ========================================================================

// Normalize
// ========================================================================

// Remove most spacing between table cells.

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


// Style
// ========================================================================

// 1. Remove most spacing between table cells.
// 2. Block element behavior
// 3. Style

.@{table-ns}table {
	// 1
    border-collapse: collapse;
    border-spacing: 0;
    // 2
    width: 100%;
    // 3
    margin-bottom: @table-margin-vertical;
}

// Add margin if adjacent element

& when (@base-enable-margin-top = true) {

    * + .@{table-ns}table { margin-top: @table-margin-vertical; }

}

.@{table-ns}table th,
.@{table-ns}table td {
    padding: @table-padding-vertical @table-padding-horizontal;
}

// Set alignment

.@{table-ns}table th {
    text-align: @start;
    font-weight: @table-th-font-weight;
}
.@{table-ns}table td { vertical-align: top; }

.@{table-ns}table thead th { vertical-align: bottom; }

// Caption and footer

.@{table-ns}table caption,
.@{table-ns}table tfoot {
    font-size: @table-caption-font-size;
    font-style: italic;
}

.@{table-ns}table caption {
    text-align: @start;
    color: @table-caption-color;
}


// Modifier: `table--fixed`
// ========================================================================

.@{table-ns}table--fixed { table-layout: fixed; }


// Border modifiers
// Modifiers: `table--cells`, `table--columns`, `table--rows`
// ========================================================================

& when (@table-enable-modifier-border = true) {

    .@{table-ns}table--cells th,
    .@{table-ns}table--cells td {
        border: @table-border-width @table-border-style @table-border-color;
    }

    .@{table-ns}table--columns th,
    .@{table-ns}table--columns td {
        border: 0 @table-border-style @table-border-color;
        border-width: 0 @table-border-width;
    }

    .@{table-ns}table--rows th,
    .@{table-ns}table--rows td {
        border-bottom: @table-border-width @table-border-style @table-border-color;
    }
}


& when (@table-enable-modifier-row = true) {

    // Modifier: `table--striped`
    // ========================================================================

    .@{table-ns}table--striped tbody tr:nth-of-type(odd) { background: @table-striped-background; }


    // Modifier: `table--hover`
    // ========================================================================

    .@{table-ns}table--hover tbody tr:hover { background: @table-hover-background; }
}


& when (@table-enable-modifier-cell = true) {

    // Spacing modifiers
    // Modifiers: `table--sm`
    // ========================================================================

    .@{table-ns}table--sm td { padding: @table-padding-small-vertical @table-padding-small-horizontal; }
}


// Sub-modifier: `table__item--middle`
// ========================================================================

.@{table-ns}table__item--middle,
.@{table-ns}table__item--middle td { vertical-align: middle !important; }


// Hooks
// ========================================================================

.hook-table-misc;

.hook-table-misc() {}